@media (max-width:1024px){
    .container{
        width: 90%;
    }
    .nav-li{
        margin-right: 30px;
    }
    .nav-li a{
        font-size: 10px;
    }
    .title{
        font-size: 30px;;
    }
    .home,
    .about{
        font-size:12px ;
    }
    .divider{
        height: 17px;
    }
    /* <section2 > */
    .section2{
        padding:70px 0 ;
    }
    .left-box,
    .right-box{
        width: 48%;
    }
    .left-box-title{
        font-size: 12px;
    }
    .left-box-title2{
        font-size: 30px;
        line-height: 45px;
    }
    .left-box-text{
        font-size: 14px;
        line-height: 18px;
    }
    .left-box-text2{
        font-size: 12px;
        line-height: 18px;
        max-width: 380px;
        width: 100%;
    }
    .btn{
        max-width: 175px;
        width: 100%;
        height: 48px;
    }
    .image-box img{
        height: auto;
    }
    .right-box-img{
        height: auto;
    }
   
   /* <section 3> */
   .section3{
    padding-top: 70px;
    padding-bottom: 68px;
   }
   .section3-title{
    font-size: 30px;
    line-height: 45px;
   }
   .block{
       height: auto;
       padding: 10px 0;
   }
   .block-title{
    font-size: 15px;
    line-height: 20px;
   }
   .block-text{
    font-size: 12px;
   }
   /* <section 4> */
   .left-block-title2{
    max-width: 450px;
    width: 100%;
    font-size: 30px;
    line-height: 45px;
   }
   .profile{
    margin-top: 20px;
    margin-bottom: 15px;
   }
   .section4-text{
    font-size: 14px;
   }
   .right-block img{
      height:420px;
   }
   /* <section4> */
   .section5{
    padding-top: 70px;
   }  
   .section5-title{
    font-size: 30px;
    line-height: 45px;
   }
   .section5-image{
    height: auto;
   }
   /* <section 5> */
   /* <footer> */
   .footer{
    padding-top: 70px;
    padding-bottom: 30px;
   }
   .footer-left{
    width: 22%;
   }
   .footer-right{
    width: 60%;
   }  
   .footer-title{
    font-size: 18px;
    line-height: 20px; 
   }
   .footer-text{
    font-size: 11px;
   }
   .icon-image{
       width: 20px;
   }
   .footer-box-title{
    font-size: 15px;
    line-height: 20px;
   }
   .footer-li a{
    font-size: 11px;
    line-height: 15px;
   }
   .contact-li a{
    font-size: 12px;
    line-height: 16px;
   }
   .copy{
       font-size: 14px;
   }
   /* <footer> */
}

@media (max-width:871px){
    .nav-li{
        margin-right: 15px;
    }
    .nav-li a{
        font-size: 10px;
    }
    .title{
        font-size: 20px;;
    }
    .title-box{
        max-width: 110px;
        width: 100%;
    }
    .home,
    .about{
        font-size:12px ;
    }
    .divider{
        height: 15px;
    }
    /* <SECTION2> */
    .section2{
        padding:60px 0 ;
    }
    .left-box{
        width: 50%;
    }
    .right-box{
        width: 48%;
    }
    .left-box-title2{
        font-size: 22px;
        line-height: 25px;
    }
    .left-box-text{
        font-size: 13px;
        line-height: 15px;
    }
    .left-box-text2{
        font-size: 12px;
        line-height: 15px;
        max-width: 380px;
        width: 100%;
    }
    .btn{
        max-width: 120px;
        width: 100%;
        height: 40px;
        margin-top: 15px;
    }
    .image-box img{
        height: auto;
    }
    .right-box-img{
        height: auto;
    }
    /* <section 3 > */
    .section3{
        padding-top: 40px;
        padding-bottom: 45px;
       }
    .section3-title{
        font-size: 22px;
        line-height: 25px;
       }
    .block{
        width: 48%;
        height: auto;
        padding: 10px 0;
       }
    .block:nth-child(3),
    .block:nth-child(4){
        margin-top: 10px;
       }
    .block-title{
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 15px;
       }
    .block-text{
        font-size: 12px;
       }
      /* <section 4> */
    .left-block{
        width: 55%;
    }
    .right-block{
        width: 45%;
    }
    .left-block-title2{
        max-width: 300px;
        width: 100%;
        font-size: 22px;
        line-height: 25px;
       }
    .profile{
        margin-top: 15px;
        margin-bottom: 15px;
       }
    .profile p{
        font-size: 15px;
        margin-left: 15px;
    }
    .section4-text{
        font-size: 12px;
       }
    .right-block img{
          height: 380px;
       }
    /* <section 5> */
    .section5{
        padding-top: 50px;
       }  
    .section5-title{
        font-size: 22px;
        line-height: 25px;
        margin-top: 10px;
        margin-bottom: 30px;
       }
    .section5-image{
        height: auto;
        width: 26%;
       }
       /* <footer> */
    .footer{
        padding-top: 50px;
        padding-bottom: 30px;
       }
    .footer-left{
        width: 25%;
       }
    .footer-right{
        width: 55%;
       }  
    .footer-title{
        font-size: 14   px;
        line-height: 15px; 
       }
    .footer-text{
        font-size: 10px;
       }
    .footer-box-title{
        font-size: 14px;
        line-height: 15px;
       }
    .footer-li a{
        font-size: 10px;
        line-height: 10px;
       }
    .contact-li a{
        font-size: 10px;
        line-height: 12px;
       }
    .copy{
           font-size: 12px;
       }
    /* <footer> */
 }
@media(max-width:700px){
    .header{
        padding-bottom: 60px; 
    }
    .nav-li:not(.active){
        display: none;
    }
    .fa-bars{
        display: block;
    }
    .fa-bars:hover{
        transform:scale(1.2);
    }
    .title{
        font-size: 15px;;
    }
    /* <secttion 2> */
    .box-wrapper{
        flex-direction: column;
    }
    .left-box{
        width: 90%;
        margin-bottom: 20px;
    }
    .right-box{
        width: 90%;
    }
    .left-box-title2{
        font-size: 22px;
        line-height: 25px;
        margin-top: 5px;
    }
    .left-box-text{
        font-size: 13px;
        line-height: 15px;
    }
    .left-box-text2{
        font-size: 12px;
        line-height: 15px;
        max-width: 380px;
        width: 100%;
    }
    .btn{
        max-width: 120px;
        width: 100%;
        height: 40px;
        margin-top: 15px;
    }
    .image-box img{
        height: auto;
    }
    .right-box-img{
        height: auto;
    }
    /* <section2 end> */
    /* <section3> */
    .section3-title{
        font-size: 20px;
        line-height: 25px;
        margin-top: 5px;
       }
    .block{
        width: 48%;
        height: auto;
        padding: 10px 0;
       }
    .block:nth-child(3),
    .block:nth-child(4){
        margin-top: 10px;
       }
    .block-title{
        font-size: 14px;
        line-height: 15px;
        margin-bottom: 15px;
       }
    .block-text{
        font-size: 12px;
       }
       .icon{
        width: 55px;
        height: 54px; 
       }
    /* <section3 end> */
    /* <section4> */
    .section4-wrapper{
        flex-direction: column;
    }
    .left-block{
        width: 100%;
    }
    .right-block{
        width: 100%;
    }
    .left-block-title2{
        font-size: 24px;
        line-height: 25px;
       }
    .section4-text{
        font-size: 12px;
        padding-bottom: 20px;
       }
    .right-block img{
          height: auto;
       }
     /* <section4 end>   */
     /* <section5> */
    .section5{
        padding-top: 40px;
       }  
    .section5-title{
        font-size: 20px;
        line-height: 25px;
        margin-top: 10px;
        margin-bottom: 30px;
       }
    .section5-image{
        height: auto;
        width: 48%;
       } 
    .section5-image:last-child{
        height: 230px;
        width: 100%;
        object-fit: cover;
        margin-top: 10px;
    } 
    /* <section 5 end> */
    /* <fooret> */
    .footer-left{
        width: 90%;
        margin-bottom: 30px;
       }
    .footer-right{
        width: 80%;
       }  
    .footer-title{
        font-size: 12px;
        line-height: 15px; 
       }
    .footer-text{
        font-size: 10px;
       }
    .footer-box-title{
        font-size: 12px;
        line-height: 15px;
       }
    .copy{
           font-size: 10px;
       }
}