@media (max-width:1024px){
    .container{
        width: 90%;
    }
    .nav-li{
        margin-right: 30px;
    }
    .nav-li a{
        font-size: 10px;
    }
    .title{
        font-size: 30px;;
    }
    .home,
    .about{
        font-size:12px ;
    }
    .divider{
        height: 17px;
    }
    /* <section2 > */
    .section2{
        padding:70px 0 ;
    }
    .left-box,
    .right-box{
        width: 48%;
    }
    .left-box-title{
        font-size: 12px;
    }
    .left-box-title2{
        font-size: 30px;
        line-height: 45px;
    }
    .left-box-text{
        font-size: 14px;
        line-height: 18px;
    }
    .left-box-text2{
        font-size: 12px;
        line-height: 18px;
        max-width: 380px;
        width: 100%;
    }
    .btn{
        max-width: 175px;
        width: 100%;
        height: 48px;
    }
    .image-box img{
        height: auto;
    }
    .right-box-img{
        height: auto;
    }
   
   /* <section 3> */
   .section3{
    padding-top: 70px;
    padding-bottom: 68px;
   }
   .section3-title{
    font-size: 30px;
    line-height: 45px;
   }
   .block{
       height: auto;
       padding: 10px 0;
   }
   .block-title{
    font-size: 15px;
    line-height: 20px;
   }
   .block-text{
    font-size: 12px;
   }
   /* <section 4> */
   .left-block-title2{
    max-width: 450px;
    width: 100%;
    font-size: 30px;
    line-height: 45px;
   }
   .profile{
    margin-top: 20px;
    margin-bottom: 15px;
   }
   .section4-text{
    font-size: 14px;
   }
   .right-block img{
      height:420px;
   }
   /* <section4> */
   .section5{
    padding-top: 70px;
   }  
   .section5-title{
    font-size: 30px;
    line-height: 45px;
   }
   .section5-image{
    height: auto;
   }
   /* <section 5> */
   /* <footer> */
   .footer{
    padding-top: 70px;
    padding-bottom: 30px;
   }
   .footer-left{
    width: 22%;
   }
   .footer-right{
    width: 60%;
   }  
   .footer-title{
    font-size: 18px;
    line-height: 20px; 
   }
   .footer-text{
    font-size: 11px;
   }
   .icon-image{
       width: 20px;
   }
   .footer-box-title{
    font-size: 15px;
    line-height: 20px;
   }
   .footer-li a{
    font-size: 11px;
    line-height: 15px;
   }
   .contact-li a{
    font-size: 12px;
    line-height: 16px;
   }
   .copy{
       font-size: 14px;
   }
   /* <footer> */
}

