/* <header */
.header{
   background-image: url(../images/bg.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 84px;
}
.container{
    max-width: 1089px;
    width: 100%;
    margin: 0 auto;
}
.logo img{
    max-width: 86px;
    width: 100%;
}
.nav-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 96px;
}
.nav-ul{
    display: flex;
}
.nav-li{
    margin-right: 49px;
}
.nav-li:last-child{
    margin-right: 0;
}
.nav-li a{
    color:#FFFFFF;
    font-size: 12px;
    font-family: 'Poppins-SemiBold';
    text-transform: uppercase;
    line-height: 18px;
}
.nav-li:hover{
    transform: scale(1.5);
}
.nav-li .active{
    color: #5863F8;
}
.title{
    max-width: 200px;
    width: 100%;
    font-size: 42px;
    font-family: 'Poppins-ExtraBold ';
    color: #FFFFFF;
    line-height: 56px;
    margin-bottom: 14px;
}
.title-box{
    max-width: 140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
/* .home::after{
    content: " ";
    height: 19px;
    width: 2px;
    background-color:#FFFFFF;
    display: inline-block;
    margin-left: 14px;
    margin-right: 16px;
} */
.home,
.about {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Poppins-Medium';
    line-height: 21px;
}
.divider{
    width: 2px;
    height: 19px;
    background-color:#FFFFFF;
}

/* <end of header> */
/* <section2> */
.section2{
    width: 100%;
    padding: 90px 0px;
}
.box-wrapper{
    display: flex;
    justify-content: space-between;
}
.left-box,
.right-box{
    width: 50%;
}
/* <left box> */
.left-box-title{
    color: #5863F8;
    font-size: 14px;
    font-family:'Poppins-Bold';
    text-transform: uppercase;
    line-height: 21px;
}
.left-box-title2{
    color: #000000;
    font-family: 'Poppins-ExtraBold ';
    font-size: 42px;
    max-width: 374px;
    width: 100%;
    line-height: 56px;
}
.left-box-text{
    font-size: 16px;
    font-family: 'Poppins-Medium';
    max-width: 444px;
    width: 100%;
    color: #000000;
    line-height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.left-box-text2{
    font-size: 14px;
    font-family: 'Poppins-Regular';
    color: #000000;
    max-width: 444px;
    width: 100%;
    line-height: 21px;
}
.btn{
    max-width: 184px;
    width: 100%;
    height: 50px;
    background-color: #5863F8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.btn p{
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Poppins-Regular';
    margin-right: 10px;  
}
.btn img{
    width: 10.41px;
}
/* <right box> */
.image-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
.image-box img{
    width: 48%;
}
.right-box-img{
    width: 100%;
}
/* <section2> */
/* <section 3> */
.section3{
    background-image: url(../images/bg2.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 92px;
    padding-bottom: 90px;
}
.section3-title{
    max-width: 376px;
    width: 100%;
    color: #FFFFFF;
    font-size: 42px;
    font-family: 'Poppins-ExtraBold ';
    line-height: 56px;
    margin-bottom: 34px;
    margin-top: 2px;
}
.block-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.block{
    /* max-width: 260px;
    width: 100%; */
    height: 260px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24%;
}
.icon{
    width: 59px;
    height: 58px;
    border-radius: 50%;
    background-color: #5863F8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon img{
    size: 32px;
}
.block-title{
    max-width: 180px;
    width: 100%;
    font-size: 18px;
    font-family: 'Poppins-SemiBold';
    line-height: 27px;
    color: #000000;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
}
.block-text{
    max-width: 221px;
    width: 100%;
    font-size: 14px;
    font-family: 'Poppins-Medium';
    color: #B1B1B1;
    text-align: center;
    line-height: 21px;
}
/* <section 4> */
.section4-wrapper{
    display: flex;
}
.left-block{
    width: 58%;
}
.right-block{
    width: 42%;
}
/* <left-block> */
.left-block{
    background-color: #F8F8F8;  
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-block-title2{
    max-width: 515px;
    width: 100%;
    color: #000000;
    font-family: 'Poppins-ExtraBold ';
    font-size: 42px;
    line-height: 56px;
}
.profile{
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 20px;
}
.profile p{
    font-size: 18px;
    font-family: 'Poppins-SemiBold';
    line-height: 27px;
    color: #000000;
    margin-left: 19px;
}
.section4-text{
    max-width: 352px;
    width: 100%;
    font-size: 14px;
    font-family: 'Poppins-Medium';
    line-height: 21px;
}
/* <.right-block> */
.right-block img{
    height: 487px;
    width: 100%;
    display: block;
}
/* <end of section 4> */
/* <section 5> */
.sction5{
    padding-top: 90px;
}
.section5-title{
    max-width: 567px;
    width: 100%;
    color: #000000;
    font-family: 'Poppins-ExtraBold ';
    font-size: 42px;
    line-height: 56px;
    margin-bottom: 50px;
}
.image-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.section5-image{
    height: 352px;
    width: 25%;
}
/* <section 5> */
