/* <header */
.header{
  background-image: url(../images/bg.jpg);
    height: 324px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 84px;
}
.container{
    max-width: 1089px;
    width: 100%;
    margin: 0 auto;
}
.nav-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 96px;
}
.nav-ul{
    display: flex;
}
.nav-li{
    margin-right: 49px;
}
.nav-li:last-child{
    margin-right: 0;
}
.nav-li a{
    color:#FFFFFF;
    font-size: 12px;
    font-family: 'Poppins-SemiBold';
    text-transform: uppercase;
}
.nav-li .active{
    color: #5863F8;
}
.logo img{
    width: 100px;
}
.title{
    max-width: 200px;
    width: 100%;
    font-size: 42px;
    font-family: 'Poppins-ExtraBold ';
    color: #FFFFFF;
    margin-bottom: 14px;
}
.title-box{
    max-width: 140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
/* .home::after{
    content: " ";
    height: 19px;
    width: 2px;
    background-color:#FFFFFF;
    display: inline-block;
    margin-left: 14px;
    margin-right: 16px;
} */
.home,
.about {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Poppins-Medium';
}
.divider{
    width: 2px;
    height: 19px;
    background-color:#FFFFFF;
}

/* <end of header> */
